<div class="blank">
    <h1>[About}</h1>

    <p>this is the text under the about header (obvise I Know)</p></br>
    <p>How Do I Change My Profile Picture?</p></br>
    <p>Go To https://en.gravatar.com and then follow the instructions in the "How To Use Gravatar" Page</p>

    <%= link_to "Home", root_path %>
</div>