$navbar-default-bg: #576402;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
text-shadow:8px 1px 3px rgba(0,0,0,0.5);
font-weight:bold;
text-decoration:underline overline;
text-transform:uppercase;
color:#308C1D;
letter-spacing:0pt;
word-spacing:0pt;
font-size:30px;
text-align:center;
font-family:impact, sans-serif;
line-height:1;
padding-bottom: 40px;
}

#logo:hover {
    color: #98FFAA;
    text-decoration:underline overline;
}

.logo {
text-shadow:8px 1px 3px rgba(0,0,0,0.5);
font-weight:bold;
text-decoration:underline overline;
text-transform:uppercase;
letter-spacing:0pt;
word-spacing:0pt;
font-size:75px;
text-align:center;
font-family:impact, sans-serif;
line-height:1;
padding-bottom: 30px;
}

.center {
    text-align: center;
    color: #308C1D;
    margin-top: 3px;
}

.jumbotron {
    background-image: asset-url('Dinoworld');
    background-size: cover;
    height: 800px;
}

.jumbotron2 {
    height: 800px;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: darkgreen;
}

.well {
    background-color: #576402;
}

.article-meta-details {
    border-top: 1px solid #aec804;
    margin-top: 15px;
}

.article-actions {
    border-top: 1px solid #aec804;
    padding-top: 5px;
}

.Description {
    margin-top: 0;
    margin-bottom: 1;
}

.article-title {
    text-shadow: 5px 2px 3px rgba(0,0,0,0.3);
    font-weight: bold;
    color: #33cc33;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    font-size: 25px;
    text-align: center;
    font-family: arial black, sans-serif;
    line-height: 1;
    padding-bottom: 3px;
}

.article-body {
    font-weight:normal;
    color:#383838;
    letter-spacing:1pt;
    word-spacing:0pt;
    font-size:16px;
    text-align:center;
    font-family:times new roman, times, serif;
    line-height:1;
    border-top: 1px solid #aec804;
    padding-top: 5px;
    padding-bottom: 1px;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.footer {
    
    margin-top: 45px;
    padding-top: 5px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border-top: 1px solid #aec804;
    color: #4d0f00;
}

footer a:hover {
    color: #aec804;
}

footer small {
    float: left;
}

footer ul {
    float: right;
}

footer ul li {
    float: left;
    margin-left: 15px;
}
