<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.youtube.com/channel/UCvdgOwcbGGt2FH2kQlA7FAg?view_as=subscriber">The Dino King Entertainment</a>
            by Kaveend
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>